$menu_width: 75%;
$menu_padding: 30px;
$back_color_0: #303D4C;
$back_color_1: #2B3744;
$back_color_2: #2C3948;
$back_color_3: #2E3C49;
$front_color: #FD7F6A;
$text_color_0: #fff;
$text_color_1: #84909B;
$text_color_2: #FBEFDF;
$normal_size: 16px;
$mid_size: 18px;
$big_size: 24px;
$extra_size: 42px;
