$menu_width: 75%;
$back_color: #303D4C;
$front_color: #FD7F6A;
$text_color_0: #fff;
$text_color_1: #84909B;
$text_color_2: #FFF7E5;
$normal_size: 17px;
$mid_size: 20px;
$big_size: 26px;
$extra_size: 40px;
