@import "./variables";

.app {
  height: 100%;

  .card {
    background: radial-gradient(at top, #FCF5E6 30% ,#FCF0DA 50%, #F1D6B3);
    box-sizing: border-box;

    .sub-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .fa {
        color: $back_color_4;
      }

      .buttons {
        box-sizing: border-box;
        padding: $default_padding;
        border-radius: $default_padding;
        background: $buttons_back;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        span {
          line-height: $icon_2x_height - 2 * $default_padding;
          display: inline-block;
          padding: $default_padding 4*$default_padding;
          color: $color_dark;
        }
        .open {
          background: $front_color;
          border-radius: $default_padding;
          color: $color_white;
        }
      }
    }
  }

  .user {
    > div {
      padding: $default_padding;
      box-sizing: border-box;
    }
    .title {
      padding-top: $unit_height*0.5;
      height: $unit_height*2;
      position: relative;
      span {
        line-height: $unit_height*1.5;
        padding: 0 $default_padding;
        display: inline-block;
        box-sizing: border-box;
        font-size: $big_size;
        color: $front_color;

        &.name { float: left; }
        &.rate { float: right;}
      }
      .circled {
        float: left;
        border: 5px solid $front_color;
      }
    }/*----------.title--------------*/

    .message {
      line-height: $unit_height;
      background: rgba(0,0,0, 0.05);
    }
  }

  .topbar {
    font-family: Times;
    height: $unit_height/2;
    line-height: $unit_height/2;

    background: $front_color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 $default_padding;
    box-sizing: border-box;
    color: $color_white;

    > span {
      display: inline-block;
      text-align: center;
      flex-basis: 1;
      i {padding: 0 $default_padding;}
    }
  }
}
