@import "compass/reset";
@import "compass";
@import "./variables";

.container {
  width: 100%;
  height: 500px; /* Temp */
  position: relative;

  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;


  &.show-menu {
    -webkit-transform: translateX($menu_width);
    transform: translateX($menu_width);
  }

  padding: 5% 0; /* Temp: Just spacing. */
}
