@import "./variables";

.menu {
  width: $menu_width;
  background: $back_color_0;
  height: 100vh;
  position: absolute;
  top: 0;
  left: - $menu_width;
  display: flex;
  flex-flow: column;
  justify-content: space-around;

  .info {
    width: calc(100% - #{$menu_padding});
    margin: 0 auto;
    text-align: center;

    .user {
      padding: 0 15%;
      box-sizing: border-box;

      > span {
        color: $text_color_1;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 5px;

        &.name {
          font-size: $bigger_size;
        }
      }

    } /*----------.user-------- */

  }/*-------------.info----------------*/

  button {
    margin: 0 auto;
    width: calc(100% - 10px);
    max-width: 250px;
    height: $extra_size;
    border:none;
    border-radius: $extra_size/5;
    background-color: $front_color;
    color: $color_white;
    outline: none;
    cursor: pointer;
    font-size: $mid_size;
    font-weight: bold;
  }

  .links {
    font-size: $big_size;
    color: $text_color_2;
    li {
      box-sizing: border-box;
      padding: 0 calc(50% - 125px);
      width: calc(100% - 10px);
      margin: 0 auto;
      line-height: $extra_size;
      box-shadow: 0 1px 2px 2px $back_color_3 inset;

      &:nth-child(odd) { background: $back_color_1; }
      &:nth-child(even) { background: $back_color_2; }

      i {padding-right: 10px; width: 35px;}
    }
  }

}
